
.wrapper {
    margin: 0 auto;
    width: 50vw;
    height: 300px;
    background: #ccc;
}

.chart-title {
    margin: 10px auto 0;
    padding-top: 5px;
    width: 100%;
    height: 30px;
    background: #fff;
    text-align: center;
    border: 1px solid red;
}

.chart-content {
    margin: 0;
    padding: 50px 10px 10px;
    /* width: 100%; */
    /* height: 200px; */
    background: #fff;
    text-align: left;
    border: 1px solid #666;
}

.high-light-color {
    color: #f0f;
    background: #ccc;
}
.high-light-color:hover {
    color: #0f0;
    background: #f0f;
}

